<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/homestyle.css" type="text/css">
<style>



  </style>

</head>
<body><!--onscroll="myFunction()"-->
<!--<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <a href="#help">Help</a>

</div>-->
<!--<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>-->
<!--<div class="topnav">

    <table>
        <tr>
            <td width="300px">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <a href="#help">Help</a>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                </span>
                <img src="https://www.volunteersignup.org/images/square_logo.svg" width="50px">
                <strong style="font-size:20px">Volunteer Sign Up
                </strong>
            </td>
            <td width="500">
            </td>
            <td width="300px" align="right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><strong>Helping is EASY Now</strong></p>
            </td>
            <td width="300px" align="right">
            </td>
        </tr>
    </table>
<div class="secondnav">
    <a class="active" href="#home">Home</a>
    <a href="#signin">Sign In</a>
    <a href="#help">Help</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div style="padding-left:16px">
</div>
</div>
-->
{% include 'menu.html' %}
    <div class="page" >

    <table>
        <tr>
            <td width="10"></td>
                <td colspan="2"  align="center">
                    <strong>
                        <p style="font-size:75px;margin:10px;">Welcome!
                        </p>
                    </strong>
                </td>
        </tr>
        <tr><td></td>
            <td width="600" align="left">
                <h3 style="font-size:25px;margin:10px;"><strong>Are you looking for an easier way to find volunteers? Then...</strong>
                </h3>
                <p style="font-size:40px;margin:10px;"><i>Sign up!</i></p>
                <h3> Volunteer Signup is a free webpage that creates free
                     volunteer signup sheets. It is simple and quick. You can easily gather volunteers for your...</h3>
                <img src="https://lh4.googleusercontent.com/0pbHjQJjaxH9-EYdzpJGa-ypRIYvT2eim5apARRF1-PCRSWuFGh3KhCnIhqU89DRIpVkyVqjPdcGqGQcGfIS4bVWm8VZcNuWxtvwYcHNowQWl8p4g67CXRqbYnfPw5_0AX1MkglXu3TV" width="400" />
                <h3>Here is the 3 step procedure. </h3>
                <h4> 1. Create an online signup sheet. <br> 2. Email the link to potential volunteers. <br> 3. Volunteers can signup.<br></h4>
                <h3>You can easily keep track of your volunteers.</h3>
            </td>
            <td width="200" align="right" valign="top">
                <p><img src="https://www.volunteersignup.org/images/DesktopExample.png" alt="Example of a sign up sheet" width="600px"></p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" align="center">

                <button class="accordion">Tweets About Volunteer Sign Up</button>
                <div class="panel">
                    <div id="twitterFrame" class="row hidden-xs hidden-sm" style="display:none;">
                        <div class="col-lg-12 text-center">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=volunteersignup.org" data-widget-id="591707547595251712">Tweets about volunteersignup.org</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                            function expandTweets() {
            $("#twitterFrame").show();
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
        }
                            </script>

                        </div>
                        <!--<script>


                        </script>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" align="center">
                <div class="row visible-xs visible-sm">
                    <div class="col-md-12 text-center">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=volunteersignup.org" data-widget-id="591707547595251712">Tweets about volunteersignup.org</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span class="visible-print-inline"><small>Generated by VolunteerSignup.org</small></span>
                            <span class="hidden-print">
                                <small>&copy; 2011 to 2017, VolunteerSignup.org |
                                    <!--<a title="VolunteerSignup Help" href="/help" class="popup">Help</a> |-->
                                    <a title="VolunteerSignup FAQs" href="/faq" class="popup">FAQ</a> |
                                    <!--<a title="About VolunteerSignup" href="/about" class="popup">About</a> |-->
                                            <!--<a title="Contact Us" href="/contact" class="popup">Contact</a> |-->
                                    <a title="Terms and Conditions" href="/legal/terms" class="popup">Terms and Conditions</a> |
                                    <a title="Privacy Policy" href="/legal/privacy" class="popup">Privacy Policy</a>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>
</body>
</html>

