<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
    <style>

  </style>

</head>
<body>
{% include 'menu.html' %}
    <div class="page" >

    <table>
        <tr>
            <td width="10"></td>
                <td colspan="2"  align="center">
                    <strong>
                        <p style="font-size:75px;margin:10px;">About!
                        </p>
                    </strong>
                </td>
        </tr>
        <tr><td></td>

            <td width="1000000" align="center">
                <h3> Golden Narwhals is a volunteer website made in 2017-2018 by the Wellesley Girls Who Code.</h3>
                <h2>Who Is Behind All This Wonderful Code?</h2>
                <img src="https://lh4.googleusercontent.com/0pbHjQJjaxH9-EYdzpJGa-ypRIYvT2eim5apARRF1-PCRSWuFGh3KhCnIhqU89DRIpVkyVqjPdcGqGQcGfIS4bVWm8VZcNuWxtvwYcHNowQWl8p4g67CXRqbYnfPw5_0AX1MkglXu3TV" width="400" />
                <h3><br> The Wellesley Girls Who Code have worked very hard to make this site for you!</h3>
                <h2> Golden Narwhals In The Making</h2>
                <h3>Making this site wasn't easy. There were a LOT of bugs and errors we have encountered while making it.<br> Actually, no site is easy to make, no matter how "default" it looks. It takes a long time to make it, but the results are worth it! The Wellesley Girls Who Code have made many pages on this site, including the about, home page. sign in, sign up, etc.</h3>
                <h2>What Is The Purpose Of This Website?</h2>
                <h3>Well, this site was created to help people who are organizing events that require volunteers, and the people who want to sign up for those volunteer events.</h3>
                <h2>What is Girls Who Code?</h2>
                <h3>Girls Who Code is a national non-profit organization leading the movement to inspire, educate, and equip girls with the computing skills to pursue 21st century opportunities. About 20 girls coded this with the help of three adults</h3>
                <h2>What Language Is The Site Coded In?</h2>
                <h3>We used HTML, Python, CSS, and Javascript to make this site for you.</h3>

            </td>


        </tr>


    </table>
</div>
<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>
 <h3 align="center"> <font size="2">© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
</body>
</html>

