<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
    <style>

  </style>

</head>
<body>
{% include 'menu.html' %}
    <div class="page" >

    <table>
        <tr>
            <td width="10"></td>
                <td colspan="2"  align="center">
                    <strong>
                        <p style="font-size:75px;margin:10px;">About!
                        </p>
                    </strong>
                </td>
        </tr>
        <tr><td></td>
            <td width="600" align="left">
                <h3> Golden Narwhales is a volunteer website made in 2017 by the Wellesley Girls Who Code.</h3>
                <h2>Who Is Behind All This Wonderful Code?</h2>
                <img src="https://lh4.googleusercontent.com/0pbHjQJjaxH9-EYdzpJGa-ypRIYvT2eim5apARRF1-PCRSWuFGh3KhCnIhqU89DRIpVkyVqjPdcGqGQcGfIS4bVWm8VZcNuWxtvwYcHNowQWl8p4g67CXRqbYnfPw5_0AX1MkglXu3TV" width="400" />
                <h3><br> The Wellesley Girls Who Code have worked very hard to make this site for you!</h3>
                <h2> Golden Narwhales In The Making</h2>
                <h3>Making this site wasn't easy. There were a LOT of bugs and errors we have encountered while making it.<br> Actually, no site is easy to make, no matter how "default" it looks. It takes a long time to make it, but the results are worth it! We have many pages on this site, including the about, home page. sign in, sign up, etc.</h3>
                <h2>What Is The Purpose Of This Website?</h2>
                <h3>Well, this site was created to help people who are organizing events that require volunteers, and the people who want to sign up for those volunteer events.</h3>
            </td>
            <td width="200" align="right" valign="top">
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" align="center">

                <button class="accordion">Tweets About Volunteer Sign Up</button>
                <div class="panel">
                    <div id="twitterFrame" class="row hidden-xs hidden-sm" style="display:none;">
                        <div class="col-lg-12 text-center">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=volunteersignup.org" data-widget-id="591707547595251712">Tweets about volunteersignup.org</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                            function expandTweets() {
            $("#twitterFrame").show();
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            }
        }
                            </script>

                        </div>
                        <!--<script>


                        </script>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" align="center">
                <div class="row visible-xs visible-sm">
                    <div class="col-md-12 text-center">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=volunteersignup.org" data-widget-id="591707547595251712">Tweets about volunteersignup.org</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span class="visible-print-inline"><small>Generated by VolunteerSignup.org</small></span>
                            <span class="hidden-print">
                                <small>&copy; 2011 to 2017, VolunteerSignup.org |
                                    <!--<a title="VolunteerSignup Help" href="/help" class="popup">Help</a> |-->
                                    <a title="VolunteerSignup FAQs" href="/faq" class="popup">FAQ</a> |
                                    <!--<a title="About VolunteerSignup" href="/about" class="popup">About</a> |-->
                                            <!--<a title="Contact Us" href="/contact" class="popup">Contact</a> |-->
                                    <a title="Terms and Conditions" href="/legal/terms" class="popup">Terms and Conditions</a> |
                                    <a title="Privacy Policy" href="/legal/privacy" class="popup">Privacy Policy</a>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>
</body>
</html>

