<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
  {% include 'menu.html' %}

<h1 align="center"> Key Club Contact Information</h1>

  <p align="center"> Club Email: keyclubwellesley@gmail.com </p>
  <h2 align="center"> Key Club Officers at Wellesley High School:</h2>
  <div align="center"

      <p > Eleanor Boyd (President): eleanorjboyd@gmail.com </p>
      <p> Sam Steen (Vice President): samdp15@gmail.com </p>
      <p> Sonia Subramanian (Treasurer): 19subramanians@wpsraiders.org </p>
      <p> Will Corkhill (Secretary): williecorks@gmail.com </p>
      <p> Kayla Johnston (Publicist): kaylajohnson1@gmail.com </p>
      <p> Julia Himmelberger (Membership): 18himmelbergerj@wpsraiders.org </p>


  </div>
  <h4 align="center"> Maura Renzella (Advisor): mrenzella@wellesleyma.gov</h4>

  <p align="center"> <b>Feel free to drop off any forms in the Key Club mail slot in the mail room of the main office.<b/> </p>

  <h3 align="center"> <font size="2" >© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
</body>
</html>
