<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create event</title>
</head>
<body>
<form>


   <div>
        <center><h1 style="font-family:palatino;">Login</h1></center></div>

        <p class="break" />


         <div><center> <label style="font-family:palatino;"
                              for="title">Enter title of event: </label>
             <input type="" name=" Enter title of event" value="" id="title" placeholder="Title "/></center>
        </div>


        <p class="break">

        <div> <center>
          <label style="font-family:palatino;"
                 for="details">Details </label>
    <input type="" name="details" value="" id="details" placeholder="Details"/> </center>
        </div>


        <p><div>
          <center><label style="font-family:palatino;">
              <button class="submit">Submit</button>
              </label></center>

        </div></p>

        <div><center>

            <p>
                <br> <br> Thanks for creating an event!</p> </center> </div>






</form>




















</body>
</html>
