<html>
  <head>
    <title>Profile</title>
      <link rel="stylesheet" href="static/menustyle.css" type="text/css">
  </head>
  <body>
  {% include 'menu.html' %}
  <div align="center">
    <h1 id="header" align="middle">Update Your Name or Password</h1>
    <form action="change name" method="post">

        <h4> Email </h4>
    <input type="email" name="new_email" placeholder="" value={{email}}><br>
        <h4> First Name </h4>
    <input type="text" name="new_first_name" placeholder="" value={{firstname}}><br>
        <h4> Last Name </h4>
    <input type="text" name="new_last_name" placeholder="" value={{lastname}}><br>
        <br>
      <input type="submit" name="Update Name and Email">
    </form>

<br><br>

    <form action="Profile" method="post">
        <h4> Old Password </h4>
    <input type="password" name="old_password" placeholder="Original password" value=""><br>
        <h4> New Password </h4>
    <input type="password" name="new_password" placeholder="New password" value=""><br>
        <h4> Confirm New Password </h4>
    <input type="password" name="confirm_password" placeholder="Confirm password" value=""><br> <br>
      <input type="submit" name="Change Password">
</form>
      <h2><font color="red">{{error_message}}</font></h2>

        <br>
        <br>
<h3> Delete Your Account</h3>
        <p> Click here to delete your account! </p>


    <br><br><br><br><br><br><br>
    <p4>  © 2017-18 Girls Who Code - Wellesley Chapter </p4>

  </div>
</body>
