<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
  {% include 'menu.html' %}
  </td>
   </td>

<table style="border-collapse: collapse;" width="100%" border="0">
    <thead align="left">
    <tr bgcolor="#33B8FF">
        <th>What And When</th>
        <th>Availability</th>
        <th> </th>
    </tr>
    </thead>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    {% for event in events %}

    <tr style="border-bottom:1px solid black">

        <td>{{event[1]}}<br>{{event[2]}}<br>{{event[4]}} Credit(s)<br>\Awesome Ayesha</td>

        <td>{{NumberOfVolunteers}}</td>
        <td><form action="events?id={{event[3]}}" method="post"><input type="submit" value="Sign Up"></form> </td>
    </tr>

    {% endfor %}

    <tr><td><a href="addevent">Add Event</a></td></tr>

</table>
  <td></td><td></td><td></td><td></td><td></td>
<h3 align="center"> <font size="2">© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
</body>
</html>
