<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<table style="border-collapse: collapse;" width="100%" border="0">
    <thead align="left">
    <tr bgcolor="#33B8FF">
        <th>What And When</th>
        <th>Open</th>
        <th>Sign Up</th>
    </tr>
    </thead>

    {% for event in events %}

    <tr style="border-bottom:1px solid black">
        <td>{{event[0]}}<br>{{event[1]}}<br>{{event[2]}} Credit<br>Kriti D.</td>
        <td>FULL</td>
        <td><img src="static/Weird Crossy Thing.png" height="20" width="20"></td>
    </tr>

    {% endfor %}

</table>
</body>
</html>
