<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
  {% include 'menu.html' %}

<h1 align="center"> <b>Help</b> </hi>
    <h2 align="center"> 1. How do I create an account? </h2>



        <p align="center"> First click the "login" tab on the menu bar,
            <br> then click the words "sign up" near the bottom of the login boxes. <br>Insert your information to create an account!
            <br> You will then be able to login in with the information you put in.
        </p>

    <br>

    <h2 align="center"> 2. How do I add an event?</h2>



        <p align="center"> Once you have logged in, click on the "events"
            <br> tab on the menu bar, and click "add event" in
            <br> the bottom left corner. Next, put in all the
            <br> required information for your event, and click submit!
        </p>

     <br>

    <h2 align="center"> 3. How do I sign up for an event? </h2>



        <p align="center"> Once you are logged in, go to the "event" page,
            <br> and click "sign up" on the event you would
            <br> like to volunteer for.
        </p>

    <br>

    <h2 align="center"> 4. How do I change my account information? </h2>


        <p align="center"> After you are signed in, click "profile" on the
            <br> menu bar. Then click "update profile" under
            <br> your information. Fill in your new info in the boxes. <br>Click "submit" and your
            <br> profile will be updated!!
        </p>

    <br>
<h2 align="center"> 5. How do I delete my account?</h2>


        <p align="center"> Once you've signed in, click "profile" on the menu bar. <br>At the bottom of the page,
            there will be a button that says "Delete Your Account". <br>
            Press the button and then press OK,<br> and you will have successfully deleted your account.
        </p>

    <br>
        <p align="center">Do you still have questions??? Send them to us here and we will respond in a very long time. Because we are lazy.</p>
        <p class="break" />

          <p align="center"><label style="font-family:palatino;"
                 for="Help!">Help!</label>
        <textarea rows="1" cols="20" type="" name="Help!" value="" id="Help!" placeholder="Ask your question"/></textarea></p>
          <center><label style="font-family:palatino;">
              <button class="submit">Submit</button>
              <!--<input type="submit" value="Submit" id="Submit"></input></label></center>-->


      <h3 align="center"> <font size="2">© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
</body>
</html>
