<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--<link id="menu" rel="import"  href="templates/menu.html">-->
     <br><br>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <ul>
    <li><img src="static/logo.png" alt="Girls Who Code" width="300"></li>
    <li style="float:left" ><a id="profile" href="Profile""> Change Your Profile </a></li>
    <li style="float:right"><a href="index.html">Sign Out</a> </li>
</ul>
</head>

<style>

</style>

<body>

<h1 align="center"> Volunteer Sign Up </h1>

<br><br>
{% include 'menu.html' %}
<br><br>

<table cellspacing="150" cellpadding="75" border="1">
    <tr>
        <td>
           <b> Create 100% FREE online volunteer signup sheets. <br>
            No ads, no spam. <br>
            By volunteers, for volunteers. <br>
            Volunteer Sign Up lets volunteer coordinators quickly create a free online signup sheet for <br>
            any activity, event, sale, fundraiser, party, etc. <br>
            Creating an online volunteer sign up sheet is very simple, and saves time. <br>
            You can easily track volunteer hours, too. <br>
               Enjoy! </b> <br>
        </td>
        <td>
            <b> Here is the overall process: <br> </b>
            <ol>
                <li>Create an online signup sheet</li>
                <li>Email link to potential volunteers</li>
                <li>Volunteers sign up (no registration required)</li>
            </ol>
        </td>
    </tr>
</table>

</body>
</html>
