<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>

<style>
    h3,h4
    {
    font-weight: 500;
    }

</style>
</head>

<body>
<strong><p style="font-size:75px;margin:10px;">Welcome!</p></strong>
<h3>Are you too lazy for Google Forms?
    Well you probably are, so use our website.
    More than 50,000 people use it! Yes, that was a self promotion.
    Yes, probably more people use Google Forms. But this is okay too. It's
    created by kids probably younger than you, but whatever. This is too long and stupid.</h3>
<p style="font-size:40px;margin:10px;"><i>Just Sign up!</i></p>
<h3> Volunteer Signup is a free webpage that creates free
    volunteer signup sheets. It is simple and quick. Some ways you can use it are...</h3>
   <h4> 1. Club Events
         <br> 2. Food Drives
          <br> 3. Marathons
      <br> 4. You name it! (This is probably over-used)</h4>

</body>
</html>
