<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golden Narwhal Volunteers</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
</head>
<body>
{% include 'menu.html' %}
    <div  class="page" >

    <table  >
        <tr>
            <td ></td>
                <td   width="100000" align="center">
                    <strong>
                        <p style="font-size:75px;margin:10px;">Welcome!
                        </p>
                    </strong>
                </td>
        </tr>
        <tr><td></td>
            <td  width="1000000" align="center">
                <h3 style="font-size:25px;margin:10px;"   ><strong>Want to volunteer? Then...</strong>
                </h3>
                <p style="font-size:40px;margin:10px;"  ><i>Sign up!</i></p>
                <h3 > Golden Narwhal Volunteers is a free Wapp (Web-App) for the Wellesley High School Key Club to organize volunteer work. Go to the about page to learn more about this Wapp and the people who made it. You can also go to the help page if you... well, need help. </h3>

                <img src="static\2narwhal2 (2).png" width="578px" >

                <h3 > <font size="2">© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
            </td>


        </tr>
        <tr>
            <td></td>
            <td



        </tr>

            <td></td>

            <td >

            </td>

    </table>
</div>
<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>
</body>
</html>

