<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
<style>


  </style>

</head>
<body onscroll="myFunction()">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <a href="#help">Help</a>

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>









<div class="topnav">

    <table>
        <tr>
            <td width="300px">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <a href="#help">Help</a>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                </span>
                <img src="https://www.volunteersignup.org/images/square_logo.svg" width="50px">
                <strong style="font-size:20px">Volunteer Sign Up
                </strong>
            </td>
            <td width="500">
            </td>
            <td width="300px" align="right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><strong>Helping is EASY Now</strong></p>
            </td>
            <td width="300px" align="right">
            </td>
        </tr>
    </table>
<div class="secondnav">
    <a class="active" href="#home">Home</a>
    <a href="#signin">Sign In</a>
    <a href="#help">Help</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search..." name="search">
            <button type="Submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div style="padding-left:16px">
</div>
</div>
<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>



<center>
    <form style="align: center;" method="post">
        <center><h1 style="font-family:palatino;">Login</h1></center>

        <p class="break" />

          <label style="font-family:palatino;"
                 for="Username">Username: </label>
        <input type="" name="Username" value="" id="Username" placeholder="Enter your email address"/>
        </div>

        <p class="break">

        <div>
          <label style="font-family:palatino;"
                 for="Password">Password: </label>
            <input type="password" name="Password" value="" id="Password" placeholder="Enter your password"/>
        </div>


        <div>
          <center><label style="font-family:palatino;">
              <button class="submit">Submit</button>
              <!--<input type="submit" value="Submit" id="Submit"></input></label></center>-->
        </div>

        <div>

            <p_forgot style="font-family:palatino;">
                Forgot your Username or Password?</p_forgot></div>

        <p class="break">

            <p_signup style="font-family:palatino;">
                Don't already have an account? Sign up here.</p_signup></div>



    </form>

    <p> {{Error}} </p>
</center>


</body>
</html>
