<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">

</head>
<body onscroll="myFunction()">

{% include 'menu.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>

<center>
    <form style="align: center;" action="login" method="post">
        <center><h1 style="font-family:palatino;">Login</h1></center>

        <p class="break" />

          <label style="font-family:palatino;"
                 for="Username">Username: </label>
        <input type="" name="Username" value="" id="Username" placeholder="Enter your email address"/>
        </div>

        <p class="break">

        <div>
          <label style="font-family:palatino;"
                 for="Password">Password: </label>
            <input type="password" name="Password" value="" id="Password" placeholder="Enter your password"/>
        </div>


        <div>
          <center><label style="font-family:palatino;">
              <button class="submit">Submit</button>
              <!--<input type="submit" value="Submit" id="Submit"></input></label></center>-->
        </div>

        <p> {{error}} </p>

        <div>

            <p_forgot style="font-family:palatino;">
                Forgot your Username or Password?</p_forgot></div>

        <p class="break">

            <p_signup style="font-family:palatino;">
                Don't already have an account? Sign up <a href="signup">here.</a></p_signup></div>

    </form>


</center>
<
  <h3>© 2017-18 Girls Who Code - Wellesley Chapter</h3>
</body>
</html>
