<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="static/menustyle.css">

<style>

  </style>
<body>
<div class="topnav">

    <table>
        <tr>
            <td width="300px">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="Profile.html"> Profile </a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <a href="#help">Help</a>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                </span>
                <img src="static/narwhal2.png" width="59px">
                <strong style="font-size:20px">Volunteer Sign Up
                </strong>
            </td>
            <td width="500">
            </td>
            <td width="300px" align="right">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><strong>Helping is EASY Now</strong></p>
            </td>
            <td width="300px" align="right">
            </td>
        </tr>
    </table>
<div class="secondnav">
    <a class="active" href="home">Home</a>
    <a href="Profile"> Profile </a>
    <a href="signup">Sign Up</a>
    <a href="#help">Help</a>
    <a href="about">About</a>
    <a href="#contact">Contact</a>
    <a href="events">Events</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div style="padding-left:16px">
</div>
</div>
</body>
</html>

