<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Profile</title>
                <link rel="stylesheet" href="static/menustyle.css" type="text/css">
</head>
<body>
{% include 'menu.html' %}
 <div align="center">
     <p style="font-family:palatino; font-size:50px; font-weight:bold" align="center">Profile</p>
     <p style="font-family:palatino; font-size:30px;">Username: admin <br>
         Forgot Password? Click <u>here</u><br>
         First Name: Joe <br>
         Last Name: Jones <br>
         Email: admin@example.com <br>
         Phone: 1234567890</p></div>
<a href="EditProfile"><p align="center">Update Profile</p></a>

<h3 align="center"> <font size="2">© 2017-18 Girls Who Code - Wellesley Chapter</font></h3>
</body>
</html>
