<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'menu.html' %}
    <br><br>
    <title>Create an Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
</head>

<body>
<fieldset>
    <legend><h3>Create an Account</h3></legend>
    <p>Fill out personal information in order to create a volunteer account</p>
    <h2><font color="red">{{error}}</font></h2>
    <form method="post">
        Enter Username:
        <input type="text" placeholder="X" name="username"
               value="{{request.form.username}} "><br>
        Enter Password:
        <input type="password" placeholder="Password" name="password"><br>
        Repeat Password: <input type="password" placeholder="Repeat Password" name="password2"><br>
        <script>
        function myFunction() {

        x = document.getElementById("password").value;
            text = "n"
            if (x.length < 10) {
                text = "Your password is too short: please add more digits";
            }

            document.getElementById("demo").innerHTML = text;

            }

        </script>
        Personal Information: <input type="text" placeholder="First Name" name="firstname">
        <input type="text" placeholder="Last Name" name="lastname"> <br>
        <input type="text" placeholder="Email" name="email"><br>
        <input type="text" placeholder="Phone Number" name="phone"><br>
        <input type="submit">
    </form>
</fieldset>
</body>
</html>

