<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'menu.html' %}
    <br><br>
    <title>Create an Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
</head>

<body>
<fieldset>
    <legend><h2>Create an account</h2></legend>
        <p><strong>Fill out personal information in order to create a volunteer account</strong></p>
    <h2><font color="red">{{error}}</font></h2>
    <form method="post">

        <table>
            <tr>
                <td>Enter Username:
        <input type="text" placeholder="Username" name="username"
               value="{{request.form.username}}"></td>
            </tr>
            <tr>
                <td> Enter Password:
        <input type="password" placeholder="Password" name="password"></td>
            </tr>
            <tr>
                <td>Repeat Password:
            <input type="password" placeholder="Repeat Password" name="password2">
        <script>
        function myFunction() {

        x = document.getElementById("password").value;
            text = "n"
            if (x.length < 10) {
                text = "Your password is too short: please add more digits";
            }

            document.getElementById("demo").innerHTML = text;

            }
            </script>
                </td>
            </tr>
            <tr><td>Personal Information:</td></tr>
            <tr><td><input type="text" placeholder="First Name" name="firstname"></td></tr>
            <tr><td><input type="text" placeholder="Last Name" name="lastname"></td></tr>
            <tr><td><input type="text" placeholder="Email" name="email"></td></tr>
            <tr><td><input type="text" placeholder="Phone Number" name="phone"></td></tr>


            <tr><td><input type="radio" name="role" value="Administrator" >Administrator <input type="text" placeholder="Administrator Password" name="adminPass"></td></tr>
            <tr><td><input type="radio" name="role" value="Volunteer" >Volunteer</td></tr>
            <tr><td><input type="submit"></td></tr>

        </table>
    </form>
</fieldset>
</body>
</html>

