<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Sign Up</title>
    <!--<link href="www.volunteersignup.org/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/menustyle.css" type="text/css">
    <style>

  </style>

</head>
<body>


{% include 'menu.html' %}
<h1>Volunteer Event Signup</h1>

    <input type="text" name="First Name" placeholder="First Name"><br><br>

    <input type="text" name="Last Name" placeholder="Last Name"><br><br>

    <input type="text" name="Email" placeholder="*Your Email"> <br><br>

    <input type="text" name="Phone Number" placeholder="*Your Phone Number"><br>
<h6>*Personal information is used for volunteer coordination.</h6> <br>


    <button class="submit">Sign Up</button></form>




</form>


<script>
var secondnav = document.getElementbyId("secondnav");
var sticky = secondnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    secondnav.classList.add("sticky")
  } else {
    secondnav.classList.remove("sticky");
  }
}
</script>
</body>
</html>

