<html>
 <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/styles.css" rel="stylesheet">

  </head>
  <body>
    <div id="container">
      <div id="log-in-box">
      <h1 id="login-header">Please login</h1>
      <br>
      <form action="login" method="post">
        <input type="text" placeholder="Username" name="username" value="{{request.form.username}}">
        <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>


      <h2>If you do not have an account, please sign up</h2>
      <form action="add user" method="post">

        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
        <input type="email" placeholder="Email" name="email" value="{{request.form.email }}">
        <input class="btn btn-default" type="submit" value="Sign Up">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
